:root{
  --text:#333;
  --muted:#888;

  --navW: 280px;
  --radius: 14px;
  --shadow: 0 16px 50px rgba(0,0,0,0.45);
}

html{ scroll-behavior:smooth; }

@font-face {
  font-family: Helvetica Neue;
  src: url(HelveticaNeueRoman.otf);
}

@font-face {
  font-family: Helvetica Neue;
  src: url(HelveticaNeueMedium.otf);
  font-weight: 500;
}

@view-transition {
  navigation: auto;
}

body {
  margin: 20px;
  background: #f7f7f7;

  font-family: Helvetica Neue;
  color: var(--text);
  font-size: 16px;
  line-height: 1.4;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text);
}

p, li {
  font-family: Newsreader;
  font-weight: 300;
  font-size: 18px;
}

.navbar, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  font-weight: 600;
}

.navbar {
  position: sticky;
  top: 20px;
}

.footer {
  margin-top: 80px;
  padding: 20px 12px 0px 12px;
  border-top: 1px solid #ddd;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.navbar a {
  padding: 6px 12px;
  border-radius: 128px;

  transition: all 0.5s ease;
}

.navbar a:hover {
  background-color: #ddd;
}

.active {
  background-color: #fff;
  padding: 10px;
}

.right-nav {
  width: 70px;
  display: flex;
  justify-content: end;
}

.right-nav img {
  width: 20px;
}

.contact {
  width: 20px;
  height: 20px;
}

.footer a, .toc a {
  transition: all 0.5s ease;
  padding-right: 12px;
}

.footer a:hover, .toc a:hover {
  color: var(--muted);
}

.hero {
  max-width: 1200px;
  margin: 80px auto;
}

.hero h1 {
  font-size: clamp(48px, 4vw, 84px);
  margin: 0px;
  letter-spacing: -.05em;
}

.hero h2 {
  font-family: newsreader;
  font-weight: 300;
  line-height: 1;

  margin: 0px;
  max-width: 800px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 8px;
  align-items: start;
}

.project-card {
  padding: 12px;
  border-radius: 12px;

  transition: all 0.5s ease;

  height: auto;
}

.project-card:hover {
  background: #ddd;
}

.project-card h3 {
  font-size: 24px;
  margin: 0;
}

.project-card div {
  font-family: Newsreader;
  font-weight: 300;
}

.top-40 {
  margin-top: 40px;
}

.top-12 {
  margin-top: 12px;
}

.bot-40 {
  margin-bottom: 40px;
}

.bot-80 {
  margin-bottom: 80px;
}

.project-section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 40px;
  margin-top: 40px;
  padding: 0px 12px;
}

.project-section h1 {
  font-size: clamp(36px, 4vw, 64px);
  letter-spacing: -.05em;
  line-height: 1;
  margin: 40px 0 0 0;
}

.project-section h2 {
  letter-spacing: -0.04em;
  font-size: clamp(24px, 4vw, 36px);
  line-height: 1;
}

.project-grid img, .project-section img {
  border-radius: 12px;
}

.project-container {
  max-width: 800px;
  margin: auto;
}

.toc {
  position: sticky;
  top: 100px;
  z-index: 1000000;
  height: calc(100vh - 240px);

  font-size: 13px;

  float: left;
}

.toc a {
  display: block;
  font-weight: 500;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hflex {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tag {
  background: #eee;
  border-radius: 8px;
  padding: 6px 8px;

  font-size: 10px;
  text-transform: uppercase;
}

.eyebrow {
  color: var(--muted);
  font-size: 12px;

  margin-bottom: 8px;
}

.border {
  height: 1px;
  background: #ddd;
  margin: 80px 0;
}

.caption {
  text-align: center;
  color: var(--muted);
  font-size: 12px;

  display: block;  
  padding: 0 20px;
}

.callout {
  font-size: clamp(24px, 4vw, 30px);
  padding: 20px;
  font-family: Newsreader;
  font-style: italic;
  font-weight: 300;
}

.about-section {
  margin: 40px auto 0;
  padding: 12px;
  max-width: 1200px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.about-section h1 {
  margin: 0;
  letter-spacing: -1px;
  font-size: 32px;
}

.about-section h2 {
  margin: 40px 0 20px 0;
}

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.photo-gallery p, .project-grid p, .toc div {
  font-size: 10px;
  text-transform: uppercase;

  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;

  margin: 0 0 10px 0;
  font-family: Helvetica Neue;
}

.about-section h3 {
  margin: 0;
}

.three-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 700px) {
  .toc {
    display: none;
  }

  body {
    display: block;
  }

  .two-grid, .project-grid, .project-section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  body {
    grid-template-columns: 1fr 3fr;
  }

  .about-section {
    display: flex;
    flex-direction: column;
  }

  .project-section {
    grid-template-columns: 1fr 5fr;
  }
}